HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.DS_Store
*.prefs
*.project
*.jar
test-output/**
test-output/emailable-report.html
*.settings
.classpath
*.class
GradleReports/**
GradleReports/*
test-output/**
test-output/*
bin/*
bin/**

*.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
bin/base/Base.class
bin/repository/Login.class
bin/testcases/PantallaLoginDiseno.class
.classpath
